/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
#picImg{
  display: none;
  width:80vw;
  margin: 0 auto;
}

#picVid{
  display: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
